body {
    background: white;
    background-size: cover;
    font-family: arial;
    font-style: italic;
}

button {
    color: #ffffff;
    background-color: #4D768B;
    height: 70%;
    width: 70%;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    border: 0;
    box-shadow: none;
    text-align: center;
    margin: 10px;
}

button:hover {
    background-color: #3C5C6C;
    font-style: italic;
}

table {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 2px;
    overflow-x: auto;
    table-layout: fixed;
}

tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 20%;
}


/* index page*/
.main {
    display: grid;
    grid-template-columns: 20% 60% 15% 5%;
    grid-template-rows: 20% 60% 15% 5%;
    grid-template-areas:
        "a title c d"
        "e descrip g h"
        "i link k l"
        "m n o extra";
    height: 100vh;
}

@media (min-width: 700px) {
    .main {
        display: grid;
        grid-template-columns: 4% 45% 2% 45% 4%;
        grid-template-rows: 22% 45% 11% 22%;
        grid-template-areas:
            "a b c d e"
            "f title h descrip j"
            "k title m link o"
            "p q r s extra";
        height: 100vh;
        overflow: hidden;
    }
}
